header
{
    width: auto;
    border-bottom: 1px solid red;
}
ul
{
    list-style: none;
    display: inline-flex;
}
ul li:nth-child(1)
{
    color: black;
    font-size: larger;
    font-weight: bolder;
}
ul li:nth-child(2)
{
    color: red;
    font-size: larger;
    font-weight: bolder;
}
main{
    height: auto;
    width: 1050px;
    margin-left: 225px;
}

/* latest updates */

#latest
{
    margin-top: 70px;
    text-align: left;
    margin-left: 30px;
    color: black;
    font-size: 23px;
    font-weight: bold;
}

.btn2{
background-color: white;
border: 0px;
color: rgb(0, 82, 82);
margin-left: 80px;
font-size: 17px;
cursor: pointer;
/* border-bottom: 2px solid red; */
}

.btn3{
    background-color: white;
    border: 0px;
    color: rgb(0, 82, 82);
    margin-left: 20px; 
    font-size: 17px;
    cursor: pointer;
    /* border-bottom: 2px solid red; */
}

.box1{
    height: 300px;
    width: 1030px;
    /* box-shadow: 0 0 3px green; */
    margin-left: 5px;
    margin-right: 0px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    overflow-x: scroll;

}
.container5{
    height: 250px;
    width: 230px;
    margin-top: 25px;
    margin-left: 30px;
    box-shadow: 0 0 2px gray;
}
.container4{
    height: 250px;
    width: 230px;
    margin-top: 25px;
    margin-left: 25px;
    box-shadow: 0 0 2px gray;
}
.container3{
    height: 250px;
    width: 230px;
    margin-top: 25px;
    margin-left: 25px;
    box-shadow: 0 0 2px gray;
}
.container2{
    height: 250px;
    width: 230px;
    margin-top: 25px;
    margin-left: 25px;
    box-shadow: 0 0 2px gray;
}
.container1{
    height: 250px;
    width: 230px;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    box-shadow: 0 0 2px gray;
}
.pre1
{
    padding-top: 20px;
    font-size: small;
}
.pre2
{
    padding-top: 25px;
    font-size: small;
}
.pre3
{
    padding-top: 20px;
    font-size: small;
}
.pre4
{
    padding-top: 10px;
    font-size: small;
}
.pre5
{
    padding-top: 5px;
    font-size: small;
}
.pre6
{
    padding-top: 10px;
    font-size: small;
}

/* car reviews */

#carsreviews
{
    margin-top: 50px;
    text-align: left;
    margin-left: 30px;
    color:black;
    font-size: 23px;
    font-weight: bold;
}

.box2
{
    height: 550px;
    width: 1050px;
    /* box-shadow: 0 0 3PX green; */
    margin-left: 0px;
    margin-top: 0px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.container06
{
    height: 110px;
    width: 450px;
    box-shadow: 0 0 5px green;
    border-radius: 3px;
    margin-top: 30px;
    color: black;
}
.toyota
{
    height: 100%;
    width: 35%;
    margin-right: 15px;
    float: left  
}
.toyotatext
{
    text-decoration: none;
    font-size: larger;  
}

.container05
{
    height: 110px;
    width: 450px;
    box-shadow: 0 0 5px green;
    border-radius: 3px;
    color: black;
    margin-top: 30px;
}
.mahindra 
{
    height: 100%;
    width: 35%;
    margin-right: 15px;
    float: left 
}
.mahindratext
{
    text-decoration: none;
    font-size: larger;  
}

.container04
{
    height: 110px;
    width: 450px;
    box-shadow: 0 0 5px green;
    border-radius: 3px;
    color: black;
    margin-top: 0px;
}
.elevate
{
    height: 100%;
    width: 35%;
    margin-right: 15px;
    float: left
}
.elevatetext
{
    text-decoration: none;
    font-size: larger;
}

.container03
{
    height: 110px;
    width: 450px;
    box-shadow: 0 0 5px green;
    border-radius: 3px;
    color: black;
    margin-top: 0px;
}
.swifttext
{
    text-decoration: none;
    font-size: larger;
}
.swift
{
    height: 100%;
    width: 35%;
    margin-right: 15px;
    float: left;
}

.container02
{
    height: 110px;
    width: 450px;
    box-shadow: 0 0 5px green;
    border-radius: 3px;
    color: black;
    margin-top: 0px;
}
.sonnettext{ 
    text-decoration: none;
    font-size: larger;
 }

.sonnet{
        height: 100%;
        width: 35%;
        margin-right: 15px;
        float: left;
 }
 
.container01{
    height: 110px;
    width: 450px;
    box-shadow: 0 0 5px green;
    border-radius: 3px;
    margin-top: 0px;
    color: black;
}

.kiatext{
    text-decoration: none;
    font-size: larger;

}
.kia{
    height: 100%;
    width: 35%;
    margin-right: 15px;
    float: left;
}

.box1::-webkit-scrollbar{
    width: 0px;
}
.box2::-webkit-scrollbar{
    height: 0px;
}

.btn1{
    height: 35px;
    width: 130px;
    margin-left: 750px;
    margin-top: 0px;
    background-color: rgb(0, 67, 91);
    color: white;
    border-radius: 10px;
    font-size: large;
    font-weight: 400;
    cursor: pointer;
}

footer{
  height: 150px;
  background-color:rgb(0, 142, 161);
  /* border-top-left-radius: 10px; */
  /* border-top-right-radius: 10px; */
  text-align: center; 
  margin-top: 100px;
  color: white;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}

/* media queries 1025px */


@media (max-width:1025px)
{
    
    header
    {
        font-size: medium;
    }
    /* latest updates */
    #latest
    {
    margin-left: 20px; 
    }

    main{
        height: auto;
        width: 1000px;
        margin-left: 5px;
    }

.box1{
    height: 300px;
    width: 1000px;

  }

  .container5{
    height: 250px;
    width: 220px;
}
.container4{
    height: 250px;
    width: 220px;
}
.container3{
    height: 250px;
    width: 220px;
}
.container2{
    height: 250px;
    width: 220px;
}
.container1{
    height: 250px;
    width: 220px;
}


    /* car reviews */

#carsreviews
{
    margin-left: 20px;  
}

.box2
{
    height: auto;
    width: 1000px;
    margin-left: 5px;
}
.container06
{
    height: 110px;
    width: 450px;
}
.container05
{
    height: 110px;
    width: 450px;
}
.container04
{
    height: 110px;
    width: 450px;
}
.container03
{
    height: 110px;
    width: 450px;
}
.container02
{
    height: 110px;
    width: 450px;
}
.container01
{
    height: 110px;
    width: 450px;
}

.foot
    {
        font-size: 1.2rem;
    }   
}

/* media queries 770px */

@media (max-width:770px)
{
    
    header
    {
        font-size: medium;
    }
    /* latest updates */
    #latest
    {
    margin-left: 20px; 
    }
    main{
        height: auto;
        width: 760px;
        margin-left: 5px;
        margin-right: 5px;
    }

.box1{
    height: 300px;
    width: 740px;

  }

  .container5{
    height: 250px;
    width: 210px;
}
.container4{
    height: 250px;
    width: 220px;
}
.container3{
    height: 250px;
    width: 220px;
}
.container2{
    height: 250px;
    width: 220px;
}
.container1{
    height: 250px;
    width: 220px;
}
   

    /* car reviews */
   
 #carsreviews
{
    margin-left: 20px;  
}

.box2
{
    height: auto;
    width: 600px;
    margin-left: 70px;
}

.container06
{
    height: 110px;
    width: 450px;
    margin-top: 30px;
}
.container05
{
    height: 110px;
    width: 450px;
    margin-top: 30px;
}
.container04
{
    height: 110px;
    width: 450px;
    margin-top: 30px;
}
.container03
{
    height: 110px;
    width: 450px;
    margin-top: 30px;
}
.container02
{
    height: 110px;
    width: 450px;
    margin-top: 30px;
}
.container01
{
    height: 110px;
    width: 450px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.btn1{
    height: 35px;
    width: 130px;
    margin-left: 150px;
}

footer
 {
   
 font-size: 1.2rem;
 }
 .foot
 {
  font-size: 1.2rem;
 }   
}

/* media queries 431px */

@media (max-width:431px)
{
    
    header
    {
        font-size: medium;
    }

   
     /* latest updates */
     #latest
     {
     margin-left: 10px; 
     }
     main{
         height: auto;
         width: 431px;
         margin-left: 5px;
         margin-right: 5px;
     }
 
 .box1{
     height: 350px;
     width: 400px;
 
   }
 
   .container5{
    height: 300px;
    width: 320px;
    margin-left: 40px;
    margin-right: 50px;
 }
 .container4{
    height: 300px;
    width: 320px;
    margin-left: 40px;
    margin-right: 50px;
 }
 .container3{
    height: 300px;
    width: 320px;
    margin-left: 40px;
    margin-right: 50px;
 }
 .container2{
    height: 300px;
    width: 320px;
    margin-left: 40px;
    margin-right: 50px;
 }
 .container1{
    height: 300px;
    width: 320px;
    margin-left: 40px;
    margin-right: 50px;
 }
   
     /* car reviews */
   
 #carsreviews
 {
     margin-left: 20px;  
 }
 
 .box2
 {
     height: auto;
     width: 410px;
     margin-left: 5px;
 }
 .container06
 {
     height: 110px;
     width: 390px;
     margin-top: 30px;
 }
 .container05
 {
     height: 110px;
     width: 390px;
     margin-top: 30px;
 }
 .container04
 {
     height: 110px;
     width: 390px;
     margin-top: 30px;
 }
 .container03
 {
     height: 110px;
     width: 390px;
     margin-top: 30px;
 }
 .container02
 {
     height: 110px;
     width: 390px;
     margin-top: 30px;
 }
 .container01
 {
     height: 110px;
     width: 390px;
     margin-top: 30px;
     margin-bottom: 30px;
 }
 .btn1{
    height: 35px;
    width: 130px;
    margin-left: 200px;
}
 footer
    {
    font-size: 1.2rem;
    }
.foot
    {
        font-size: 1.2rem;
    }   
}

