header
{
    width: auto;
    box-shadow: 0 0 3px  rgb(255, 199, 96);
}
ul
{
    list-style: none;
    display: inline-flex;
}
ul li:nth-child(1)
{
    color: black;
    font-size: large;
    font-weight: 1000;
}
ul li:nth-child(2)
{
    color: red;
    font-size: large;
    font-weight: 1000;
}
.heading1
{
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin-top: 100px;
    color: brown;
}
main
{
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 50px;
    font-size: larger;
    font-weight: 500;
}
.img
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.img1
{

    height: 260px;
    width: 500px;
    background-image: url(kiavshyundai.jpg);
    background-size: cover;
}
.parag1
{
    font-size: larger;
    font-weight: 600;
}
.parag2
{
    font-size: larger;
}
.parag3
{
    font-size: larger; 
}
.img2
{
    height: 260px;
    width: 500px;
    background-image: url(kiainterior.jpg);
    background-size: cover; 
}

.img4
{
    height: 260px;
    width: 500px;
    background-image: url(creta.jpg);
    background-size: cover;
}
footer
{
    margin-top: 50px;
    border-top: 2px solid gray;
}
.foot
{
    margin-top: 30px;
    text-align: center;
    font-size: large;
}

/* media queries 770px */


@media (max-width:770px)
{
    
    main
    {
        margin-left: 50px;
        margin-right: 50px;
    }
    .img1
    {
        height: 240px;
        width: 400px;
    }
   
    .img2
    {
        height: 240px;
        width: 400px;
    }
    
    .img4
    {
        height: 240px;
        width: 400px;
    }
}

/* media queries 500px */
@media (max-width:500px)
{
    main
    {
        margin-left: 10px;
        margin-right: 10px;
    }
    .img1
    {
        height: 240px;
        width: 350px;
    }
   
    .img2
    {
        height: 240px;
        width: 350px;
    }
    
    .img4
    {
        height: 240px;
        width: 350px;
    }   
}