*{
    margin: 0%;
    padding: 0%;
}
h1{
    color: red;
    height: 40px;
    text-align: center;
    margin: 100px 5px 50px;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.choice{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    gap: 20px;
    border: 3px solid chocolate;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice img{
    height: 130px;
    width: 120px;
    border-radius: 35px;
    object-fit: cover;
    cursor: pointer;
}
.choice:hover{
    border: 3px solid orangered;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin: 40px;
    gap: 5rem;
}
#user-score{
    margin-left: 20px;
}
#comp-score{
    margin-left: 50px;
}
.msg-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
#msg{
    margin-top: 1rem;
     background-color: #081b31;
     color: #fff;
     font-size: 1rem;
     display: inline;
     padding: 1rem;
     border-radius: 1rem;
     cursor: pointer;
}
#mm{
    background-color: #081b31;
    color: white;padding: 5px 5px 5px;
    border-radius: 5px;
}
#mmbox{
    display: flex;
    justify-content: center;
    align-items: center;
}
#mm1{
    background-color: #081b31;
    color: white;padding: 5px 5px 5px;
    border-radius: 5px;
}
#mmbox1{
    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}